<%= render  partial: 'post', locals: {post: @post} %>

<%= render partial: 'comments/comments', locals: {comments: @post.comments}%>

<%= unless current_user.nil? %>
<div class="padding-content-left content-bottom">
	<%= form_for [@post, @post.comments.build], remote: true do |f| %>
	<%= f.label :body, "Your comment", class: 'title-comment'%>
	<%= f.text_area :body, size: '10x10', class: 'input-xxlarge' %>
	<br/>
	<%= f.submit "Submit", class: 'btn btn-primary btn-large'%>
	<% end%>
</div>
<% end %>
